---
import Block from "@components/block/Block.astro";
import BaseLayout from "./BaseLayout.astro";
import HeroFunnel from "@components/hero/HeroFunnel.astro";
import CtaEvergreen from "@components/hero/CtaEvergreen.astro";
import CardRefeicao from "@components/cards/CardRefeicao.astro";
import CardsWrapper from "@components/cards/CardsWrapper.astro";

const props = Astro.props;
const { title, description, blocks, style, thumbnail, og_image } = Astro.props;
const refeicoes = [
  {
    nome: "Hambúrguer Artesanal",
    imagem: "/images/hamburger.jpg",
    restaurante: {
      nome: "Burger House",
      descricao: "Hambúrgueres premium feitos na brasa.",
      endereco: "Rua Central, 123",
      telefone: "(11) 90000-0000"
    }
  },
  {
    nome: "Sushi Bar",
    imagem: "/images/sushi.jpg",
    restaurante: {
      nome: "Tokyo Place",
      descricao: "Sushi fresco e pratos japoneses tradicionais.",
      endereco: "Av. Japão, 456",
      telefone: "(11) 98888-0000"
    }
  }
];
const hasBlocks = blocks && blocks.length > 0;
---

<BaseLayout {title} {description} {...style} {thumbnail} {og_image}>
  <HeroFunnel {...props}>
    <slot name="hero" />
  </HeroFunnel>

    <CtaEvergreen 
      minutes={15}
      label="Garantir minha vaga por R$197"
      subLabel="Esta oferta expira em"
    />
    <CardsWrapper>
          {refeicoes.map(r => (
            <CardRefeicao {...r} />
          ))}

    </CardsWrapper>


    {
      hasBlocks && (
        <>
          <div class={style.block_class}>
            {blocks.map((section) => (
              <Block {...section} />
            ))}
          </div>

          <slot name="nav" />
        </>
      )
    }
  </div>
</BaseLayout>

<style is:global>
  .page__content {
    &:empty {
      display: none;
    }
    &:has(> .richtext:empty) {
      display: none;
    }
    .img,
    iframe {
      width: calc(100% + var(--container-spacing));
      margin-left: calc(var(--spacing) * -1);
      @apply my-10 aspect-video h-auto;
      @screen md {
        width: 100%;
        margin-left: 0;
      }
    }
  }
</style>
