---
import Block from "@components/block/Block.astro";
import BaseLayout from "./BaseLayout.astro";
import HeroFunnel from "@components/hero/HeroFunnel.astro";
import CtaEvergreen from "@components/hero/CtaEvergreen.astro";
import CardRefeicao from "@components/cards/CardRefeicao.astro";
import CardsWrapper from "@components/cards/CardsWrapper.astro";

const props = Astro.props;
const { title, description, blocks, style, thumbnail, og_image } = Astro.props;
const refeicoes = [
  {
    nome: "Bistrôgonofe",
    imagem: "/images/bistro.jpg",
    restaurante: {
      nome: "Bistrôgonofe",
      descricao: "O bistrô faz hoje 15.000 pedidos por mês",
      rating: "4,7 ⭐",
    }
  },
  {
    nome: "Milk Milks - Milkshake e Açaí",
    imagem: "/images/acainagarrafa.jpg",
    restaurante: {
      nome: "Milk Milks - Milkshake e Açaí",
      descricao: "O Milk Milks - Milkshake e Açaí é uma nova marca do Grupo e com apenas 1 ano de operação já faz mais de 100 pedidos diários.",
      rating: "4,9 ⭐",
    }
  }
];
const hasBlocks = blocks && blocks.length > 0;
---

<BaseLayout {title} {description} {...style} {thumbnail} {og_image}>
  <HeroFunnel {...props}>
    <slot name="hero" />
  </HeroFunnel>

    <CtaEvergreen 
      minutes={15}
      label="Dominando o Delivery de <del>R$397,00</del> por <strong>R$197,00</strong>"
      subLabel="Esta oferta expira em"
    />
    <CardsWrapper mensagem="Dominar o Delivery não é só entender de players, vai muito além disso. Resultados se constroem com gestão.">
          {refeicoes.map(r => (
            <CardRefeicao {...r} />
          ))}

    </CardsWrapper>


    {
      hasBlocks && (
        <>
          <div class={style.block_class}>
            {blocks.map((section) => (
              <Block
                {...section}
                checklist={section.checklist}
                cta={section.cta}
              />          
            ))}
          </div>

          <slot name="nav" />
        </>
      )
    }
  </div>
</BaseLayout>

<style is:global>
  .page__content {
    &:empty {
      display: none;
    }
    &:has(> .richtext:empty) {
      display: none;
    }
    .img,
    iframe {
      width: calc(100% + var(--container-spacing));
      margin-left: calc(var(--spacing) * -1);
      @apply my-10 aspect-video h-auto;
      @screen md {
        width: 100%;
        margin-left: 0;
      }
    }
  }
</style>
